.nav-bar {
    background: #FFF;
}

nav {
    min-height: 100px;
}

nav.bg-light {
    background: #FFF !important;
}

nav .nav-link {
    text-transform: uppercase;
    margin: 0 20px;
    font-size: 15px;
}

.navbar-light .navbar-nav .nav-link.active{
    color: #0b6a9e;
    font-weight: 600;
}

a.logo-link:hover {
    text-decoration: none;
}

.logo {
    text-align: right;
    width: 280px;
    margin-top: 20px;
    margin-bottom: 21px;
}

.logo .lead {
    color: #0b6a9e;
    font-size: 40px;
    line-height: 40px;
}

.logo .secondary {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 5pt;
    color: #99a2a7;
}

nav .secondary-menu.collapsed {
    display: none;
}

nav .submenu {
    width: 250px;
}

@media screen and (max-width: 1200px) {
    nav .navbar-collapse {
        width: 100%;
        text-align: left;
    }
    nav .secondary-menu {
        text-align: center;
        margin: 5px 0;
    }
    nav .dropdown-menu {
        border: 0;
        padding: 0;
        margin: 0 0 0 20px;
    }
    nav .dropdown-menu a.nav-link {
        padding: 5px 0;
        font-size: 0.9em;
    }
    nav .dropdown-item {
        padding: 0 15px;
    }
    nav .secondary-menu.full-width {
        display: none;
    }
    nav .secondary-menu.collapsed {
        display: block;
    }
}
@media screen and (max-width: 400px) {
    .logo {
        text-align: center;
    }
    nav {
        flex-direction: column;
    }
    nav .navbar-toggler {
        margin: 10px;
    }
}
.secondary-menu button {
    text-transform: uppercase;
    color: #99a2a7;
}

.secondary-menu button:hover, .secondary-menu button.active {
    text-decoration: none;
    color: #000;
}

nav .dropdown-menu {
    top: 66px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    min-width: 14rem;
}

