.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #666;
}

.slider-photo-container {
    height: 300px;
    background: #CCC;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carusel {
    height: 300px;
}